@charset "UTF-8";
@import "materialize";
header{
    height: 70px;

    font-size: 20px;

    h1{
        color: #FFFFFF;
        font-size: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0;
        margin-left: 20px;
        display: inline-block;
    }

    .btn{
        float: right;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.jumbotron{
    padding: 15px;
    align: center;
    box-sizing: border-box;
    width: 100%;

    max-width: 350%;

}

.double{
    font-size: 2em;
}

.lessions{
    margin: 0;

    padding: 20px;

    h2, h3 , h4{
        margin: 0;
        padding: 10px;
    }
}

#contato{
    margin: 0;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

:placeholder{
    color: #0000FF;
}

@media #{$small-and-down} {
    // styles for small screens and down
}
@media #{$medium-and-up} {
    // styles for medium screens and larger
}
@media #{$medium-and-down} {
    // styles for medium screens and down
}
@media #{$large-and-up} {
    // styles for large screens and up
}
@media #{$extra-large-and-up} {
    // styles for extra large screens and up
}
