header{
    height: 70px;

    font-size: 20px;

    h1{
        color: #FFFFFF;
        font-size: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0;
        margin-left: 20px;
        display: inline-block;
    }

    .btn{
        float: right;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.jumbotron{
    padding: 15px;
}

p{
    .double{
        font-size: 2em;
    }
}