{% include 'header.html' %}
  <div class="content">
    <div class="row">
        {% autoescape false %}
            {% if error is not null%}
                <div class="col s12 orange card">
                    <p>{{ error }}</p>
                </div>
            {% endif %}
            {% if success is not null%}
                <div class="col s12 green card white-text">
                    <p>{{ success }}</p>
                </div>
            {% endif %}
        {% endautoescape %}
        {% if update is not null %}
            <div class="col s12">
                <form action="updateLicao.php" method="post">
                    <h4>Atualizar uma lição</h4>
                    <input type="hidden" name="updater" value="{{ id }}">
                    <input type="hidden" name="idLicao" value="{{ licaoId }}">
                    <div class="input-field">
                      <label for="nome">Nome da lição</label>
                      <input type="text" id="nome" name="nome" value="{{licaoNome}}" class="validate">
                    </div>
                    <label>Texto da lição</label>
                    <textarea id="texto" name="texto">{{licaoTexto}}</textarea>
                    <button class="btn" type="submit">Atualizar</button>
                    <a href="verLicoes.php" class="btn red">Cancelar e voltar para Lições</a>
                </form>
            </div>
        {% else %}
            <div class="col s12">
                <form action="adicionarlicao.php" method="post">
                    <h4>Adicionar uma lição</h4>
                    <input type="hidden" name="creator" value="{{ id }}">
                    <div class="input-field">
                      <label for="nome">Nome da lição</label>
                      <input type="text" id="nome" name="nome" class="validate">
                    </div>
                    <label>Texto da lição</label>
                    <textarea id="texto" name="texto"></textarea>
                    <button class="btn" type="submit">Inserir</button>
                    <a href="verLicoes.php" class="btn red">Cancelar e voltar para Lições</a>
                </form>
            </div>
        {% endif %}
      
    </div>
  </div>

  {% include 'footerTinyMce.html' %}