<!DOCTYPE html>
<html lang="pt-br">
<head>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/icon?family=Materia+Icons">
  <link rel="stylesheet" type="text/css" href="/css/theme.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ExpertsAR root panel</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper light-blue darken-3">
        <a href="#!" class="brand-logo">ExpertsAR</a>
        <a href="#" data-activates="navbar" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="btn" id="btMenu">Olá {{primeiroNome}}</a></li>
        </ul>
        <ul id="navbar" class="side-nav">
            <li><div class="userView">
                <div class="background">
                    <img src="/images/office.jpg">
                </div>
                <a href="#!name"><span class="white-text name">{{nome}}</span></a>
                <a href="#!email"><span class="white-text email">{{email}}</span></a>
            </div></li>
            <li><div class="divider"></div></li>
            <li><a class="waves-effect" href="profile.html">Editar perfil</a></li>
            <li><a class="waves-effect" href="exit.php">Sair</a></li>
         </ul>
    </div>
    </nav>

  <div class="content">
    <div class="row">
        {% if error is not null%}
            <div class="col s12 orange card">
                <p>{{ error }}</p>
            </div>
        {% endif %}
        {% if success is not null%}
            <div class="col s12 green card">
                <p>{{ success }}</p>
            </div>
        {% endif %}
        {% if update is not null %}
            <!--div class="col s12">
                <form action="updateLicao.php" method="post">
                    <h4>Atualizar uma lição</h4>
                    <input type="hidden" name="updater" value="{{ id }}">
                    <input type="hidden" name="idLicao" value="{{ licaoId }}">
                    <div class="input-field">
                      <label for="nome">Nome da lição</label>
                      <input type="text" id="nome" name="nome" value="{{licaoNome}}" class="validate">
                    </div>
                    <label>Texto da lição</label>
                    <textarea id="texto" name="texto">{{licaoTexto}}</textarea>
                    <button class="btn" type="submit">Atualizar</button>
                    <a href="verLicoes.php" class="btn red">Cancelar e voltar para Lições</a>
                </form>
            </div-->
        {% else %}
            <div class="col s12">
                <form action="addPergunta.php" method="post">
                    <h4>Adicionar uma lição</h4>
                    <input type="hidden" name="idLicao" value="{{ id }}">
                    <div class="input-field">
                      <label for="enunciado">Enunciado da Pergunta</label>
                      <input type="text" id="enunciado" name="enunciado" class="validate">
                    </div>
                    <div class="border final">
                        <label>Resposta</label>
                        <p>Insira a query em Álgebra Relacional correspondente
                        aos dados esperados da resposta</p>

                        {% include 'parser.html' %}
                    </div>
                    <input type="hidden" name="resposta" id="resposta">
                    <div class="row">
                        <button class="btn disabled" id="submitPergunta" type="submit">Inserir Pergunta</button>
                        <a href="verLicoes.php" class="btn red">Cancelar e voltar para Lições</a>
                    </div>
                </form>
            </div>
        {% endif %}

    </div>
  </div>

  {% include 'footer.html' %}
