<html lang="pt-br">
<head>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/icon?family=Materia+Icons">
  <link rel="stylesheet" type="text/css" href="/css/theme.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Manager - ExpertsAR</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper red darken-3">
        <a href="index.php" class="brand-logo">ExpertsAR</a>
        <a href="#" data-activates="navbar" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="btn" id="btMenu">Olá {{primeiroNome}}</a></li>
        </ul>
        <ul id="navbar" class="side-nav">
            <li><div class="userView">
                <div class="background">
                    <img src="/images/office.jpg">
                </div>
                <span class="white-text name">{{nome}}</span>
                <span class="white-text email">{{email}}</span>
            </div></li>
            <li><a class="waves-effect" href="verLicoes.php">Lista de Lições</a></li>
            <li><a class="waves-effect" href="adicionarlicao.php">Adicionar uma lição</a></li>
            <li><div class="divider"></div></li>
            <li><a class="waves-effect" href="criarMantenedor.php">Adicionar um mantenedor</a></li>
            <li><div class="divider"></div></li>
            <li><a class="waves-effect" href="alteraSenha.php">Alterar sua senha</a></li>
            <li><a class="waves-effect" href="exit.php">Sair</a></li>
         </ul>
    </div>
    </nav>