{% include 'header.html' %}

    <section class="green lighten-5 lessions">
        <div class="container">
            <h4>Painel de Controle</h4>
            <div class="row">
                <a href="verLicoes.php">
                    <div class="card col s12 m5">
                        <div class="card-content">
                            <span class="flow-text double">Ver Lições</span>
                        </div>
                    </div>
                </a>
            </div>
            <!--div class="center-align"><a href="lession.html" class="btn">Refazer Lições</a></div-->
        </div>
    </section>

{% include 'footer.html' %}
