  {% include 'header.html' %}

  <div class="content">
    <div class="row">
      <div class="col s12">
          <p>
              <a href="verLicoes.php" class="btn">Voltar para a página de lições</a>
          </p>
      </div>
      <div class="col s12">
          {% if licao is null %}
            <p>A lição não foi encontrada.</p>
          {% else %}
            <h3>{{licao.nome}}</h3>
            {#Desabilita o autoescape, para mostrar o texto html do enunciado#}
            {% autoescape false %}
            <div class="card row">
                {{ licao.textoLicao }}
            </div>
            {% endautoescape %}
            <div>
                <a href="updateLicao.php?id={{licao.id}}" class="btn orange white-text">Alterar Lição</a>
                <a class="btn red white-text bt-remove" data-type="Lição" data-id="{{licao.id}}" data-page="removeLicao.php">Remover Lição</a>
            </div>
      </div>
      <div class="col s12">
            <h5>Perguntas atreladas a lição {{licao.nome}}</h5>
            <p>
              <a href="addPergunta.php?id={{licao.id}}" class="btn">Adicionar uma pergunta</a>
            </p>
            {% if perguntas is null %}
                <h6>Ainda não há perguntas</h6>
            {% else %}
                {% for pergunta in perguntas %}
                    <div class="card col s12">
                        <div class="card-content">
                            <span class="flow-text">{{pergunta.enunciado}}</span>
                            <p>Resposta: {{pergunta.respostaAlgebra}}</p>
                            <div>
                                <a href="updatePergunta.php?idPergunta={{pergunta.id}}" class="btn orange white-text">Alterar Pergunta</a>
                                <a class="btn red white-text bt-remove" data-type="Pergunta" data-id="{{pergunta.id}}" data-page="removePergunta.php?idL={{licao.id}}">Remover Pergunta</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
          {% endif %}
      </div>
    </div>
  </div>

  {% include 'footer.html' %}
