    {% include 'header.html' %}

    <section class="green lighten-5 lessions">
        <div class="container">
            <h4>Lições</h4>
            <p><a href="adicionarlicao.php" class="btn green">Adicionar Lição</a></p>
            <div class="row">
            {% if licoes is null %}
                <p>Não temos lições cadastradas no sistema.</p>
            {% else %}
                {% for licao in licoes %}
                    <div class="card col s12">
                        <div class="card-content" id="{{licao.slug}}">
                            <span class="flow-text double">{{licao.nome}}</span>
                            <div>
                                <a href="addPergunta.php?id={{licao.id}}" class="btn cyan white-text">Adicionar uma pergunta</a>
                                <a href="verLicao.php?id={{licao.id}}" class="btn blue white-text">Ver Lição</a>
                                <a href="updateLicao.php?id={{licao.id}}" class="btn orange white-text">Alterar Lição</a>
                                <a class="btn red white-text bt-remove" data-type="Lição" data-id="{{licao.id}}" data-page="removeLicao.php">Remover Lição</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </section>

    {% include 'footer.html' %}