{# verifica se está em um loop, se estiver, vai contando#}
{% if loop.index is defined %}
{% set num = loop.index %}
{% else %}
{% set num = 1 %}
{% endif %}
    <div class="row">
        <div class="col s12 final">
            <button class="btn minusculo insert tooltipped" data-tooltip="Projeção" data-for="#area1" id="btPanel0">Π</button>
            <button class="btn minusculo insert tooltipped" data-tooltip="Seleção" data-for="#area1" id="btPanel1">σ</button>
            <button class="btn minusculo insert tooltipped" data-tooltip="União" data-for="#area1" id="btPanel2">∪</button>
            <button class="btn minusculo insert tooltipped" data-tooltip="Intersecção" data-for="#area1" id="btPanel3">∩</button>
            <button class="btn minusculo insert tooltipped" data-tooltip="Diferença" data-for="#area1" id="btPanel4">-</button>
            <button class="btn minusculo insert tooltipped" data-tooltip="Agrupamento" data-for="#area1" id="btPanel5">ϒ</button>
            <button class="btn minusculo insert tooltipped" data-tooltip="Atribuição" data-for="#area1" id="btPanel6">←</button>
            <button class="btn minusculo insert tooltipped" data-tooltip="Eliminador de Duplicatas" data-for="#area1" id="btPanel7">δ</button>
            <button class="btn minusculo insert tooltipped" data-tooltip="E lógico" data-for="#area1" id="btPanel8">⋀</button>
            <button class="btn minusculo insert tooltipped" data-tooltip="OU lógico" data-for="#area1" id="btPanel9">⋁</button>
            <button class="btn minusculo insert tooltipped" data-tooltip="Inner Join" data-for="#area1" id="btPanel10">⨝</button>
            <button class="btn minusculo insert tooltipped" data-tooltip="Right Outer Join" data-for="#area1" id="btPanel11">⟖</button>
            <button class="btn minusculo insert tooltipped" data-tooltip="Left Outer Join" data-for="#area1" id="btPanel12">⟕</button>
            <button class="btn minusculo insert tooltipped" data-tooltip="Full Outer Join" id="btPanel13" data-for="#area1">⟗</button>
            <button class="btn minusculo insert tooltipped" data-tooltip="Produto Cartesiano" data-for="#area1" id="btPanel14">X</button>
            <button class="btn minusculo insert tooltipped" data-tooltip="Junção Natural" id="btPanel15" data-for="#area1">*</button>
            <button class="btn minusculo insert tooltipped" data-tooltip="Renomeação" id="btPanel16" data-for="#area1">ρ</button>
            <button class="btn minusculo insert tooltipped" data-tooltip="Ordenação" id="btPanel17" data-for="#area1">τ</button>
            <button class="btn minusculo insert tooltipped" data-tooltip="Menor Igual a" id="btPanel18" data-for="#area1">≤</button>
            <button class="btn minusculo insert tooltipped" data-tooltip="Menor Igual a" id="btPanel19" data-for="#area1">≥</button>
            <button class="btn minusculo insert tooltipped" data-tooltip="Diferença" id="btPanel20" data-for="#area1">≠</button>
        </div>
        {% if query is not null %}
        <div class="col s12 input-field">
            <textarea id="area{{num}}" name="query" placeholder="Digite aqui sua query" class="materialize-textarea validate">{{query}}</textarea>
        </div>
        {% else %}
        <div class="col s12 input-field">
            <textarea id="area{{num}}" name="query" placeholder="Digite aqui sua query" class="materialize-textarea validate"></textarea>
        </div>
        {% endif %}
        <div class="col s12 center-align">
            <button data-for="#area{{num}}" data-showOn="#result{{num}}" data-check="{{check}}" class="btn blue submit" id="submit">Submeter Resposta</button>
        </div>
    </div>
    <div id="result{{num}}">

    </div>
