{% include 'header.html' %}

<header class="light-blue darken-3">
    <h1>ExpertsAR</h1>
</header>

<div class="content center-align">
    <div class="row s12">
        <h2 class="double">
            <b>404</b>
        </h2>

        <p>Lamentamos, mas o que você queria não foi encontrado!</p>

        <a class="btn" href="index.php">Voltar para a Home</a> 

        <p>Se o erro persistir, mande um e-mail para nós.</p>

        <a class="btn" href="contato.php">Enviar Mensagem</a> 
    </div>
</div>
    

{% include 'footer.html' %}