{% include 'header.html' %}
<body>
  <header class="light-blue darken-3">
      <h1>ExpertsAR</h1>
  </header>

  <div class="content">
    <div class="row">
      <% include 'exibreInfo.html' %>
      <div class="col s12 m6 offset-m3 l4 offset-l4">
        <div class="card green lighten-5">
          <form action="createConta.php" method="post">
            <div class="card-content">
              <span class="card-title">Criar uma conta</span>
              <div class="input-field">
                <input type="text" pattern="[a-zA-Z \.]+" placeholder="Seu nome" required="" id="nome" name="nome" class="validate">
                <label for="nome">Seu nome</label>
              </div>
              <div class="input-field">
                <input type="email" placeholder="Seu e-mail" required="" id="email" name="email" class="validate">
                <label for="email">Seu e-mail</label>
              </div>
              <div class="input-field">
                {# pattern=".{8,}" = Qualquer sequencia que tenha oito caracteres ou mais #}
                <input type="password" pattern=".{8,}" placeholder="Sua senha (mínimo 8 caracteres)" required="" id="senha" name="senha" class="validate">
                <label for="senha">Sua senha (mínimo 8 caracteres)</label>
              </div>
              <div class="input-field">
                <input type="password" pattern=".{8,}" placeholder="Sua senha (novamente)" required="" id="senhaConfirm" name="senhaConfirm" class="validate">
                <label for="senhaConfirm">Sua senha (novamente)</label>
              </div>
              <div class="input-field">
                <input type="hidden" name="operando1" value="{{op1}}" />
                <input type="hidden" name="operando2" value="{{op2}}" />
                <input type="hidden" name="operador" value="{{operador}}" />
                <input type="text" pattern="[\-0-9]+" placeholder="{{op1 ~ operador ~ op2}}" required="" id="captcha" name="captcha" class="validate">
                <label for="valida">{{op1 ~ operador ~ op2}}</label>
              </div>
              <div class="input-field">
                  <input type="checkbox" name="aceitaTermos" value="sim" id="aceitaTermos" /> 
                  <label for="aceitaTermos">Eu li e concordo com os <a href="">Termos de Uso e Privacidade do Site</a></label>. 
              </div>
            </div>
            <div class="card-action center-align" class="transparent">
              <button class="btn" type="submit">Criar uma conta</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="center-align">
      <a href="login.php" class="btn-large" id="toggle">Você já tem uma conta?</a>
    </div>
  </div>

  <script src="/js/jquery-3.2.0.min.js"></script>
  <script src="/js/materialize.min.js"></script>
</body>
</html>
