
        <footer class="page-footer light-blue darken-3">
        <div class="container">
            <div class="row">
                <div class="col 16 s12">
                    <h5 class="white-text">ExpertsAR</h5>
                    <p class="grey-text text-lighten-4">Um objeto de aprendizagem desenvolvido para o ensino de Álgebra Relacional.</p>
                </div>
                <div class="col 14 offset-12 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a href="#!">Artigos</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; 2017 - Luís Aurélio Casoni e Ademir Martinez Sanches
                <a href="github" class="grey-text text-lighten-4 right">Fork no GitHub</a>
            </div>
        </div>
    </footer>
    <script src="/js/jquery-3.2.0.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/home.js"></script>
</body>
</html>
