{% include 'header.html' %}
<body>
    {% include 'navbar.html' %}
    <section class="green lighten-5 lessions">
        {% include 'exibeInfo.html' %}
        {% if totalLicoes != 0 %}
            <p class="right-align">Olá{{ ' ' }}{{primeiroNome}}. Você concluiu{{ ' ' }}{{licoesConcluidas}} de{{ ' ' }}{{totalLicoes}} lições.</p>
            <p class="right-align">{{porcentagemConcluidas|round(2, 'floor')}}% concluídos.</p>
            <div class="row">
                <div class="col s12 m3 offset-m9" style="display: flex; flex-direction: row; align-items: center">
                    <div class="progress" style="width: 92%; display: inline-block">
                        <div class="determinate" style="width: {{porcentagemConcluidas|round(0, 'floor')}}%"></div>
                    </div>
                    <i class="material-icons" style="display: inline; margin-left: 3px">assignment_turned_in</i>
                </div>
            </div>


            <div class="container">
                <h4>Suas lições:</h4>
                <div class="row">
                    {% for licao in licoes %}
                        <a href="lession.php?id={{licao.id}}" class="text-white">
                            {% if licao.concluido == true %}
                            <div class="card col s12 m5 cardCompleto">
                            {% else %}
                            <div class="card col s12 m5 cardLicao">
                            {% endif %}
                                <div class="card-content">
                                    <span class="flow-text double">{{licao.nome}}</span>
                                    {% if licao.concluido == true %}
                                    <div class="card-action">Refazer a Lição</div>
                                    {% else %}
                                    <div class="card-action">Fazer a Lição</div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    {% if concluiu == true %}
                        <div class="card col s12 green white-text center-align">
                            <div class="card-content">
                                <p>Parabéns! Você concluiu todas as lições!</p>
                            </div>
                        </div>
                    {% else %}
                        <div class="card col s12 white black-text center-align">
                            <div class="card-content">
                                <p>Continue! Quanto mais você fazer, mais lições vão aparecer e mais você vai aprender!</p>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                <div class="center-align"><a href="help.php" class="btn">Dúvidas? Clique Aqui!</a></div>
                </div>
            </div>
        {% else %}
            <div class="card col s12 white black-text center-align">
                <div class="card-content">
                    <h2>Ainda não temos nada...</h2>
                    <p>Não temos nenhuma lição cadastrada! Volte aqui mais tarde!</p>
                    <p>Se você crê que isso seja um erro, <a href="contato.php">contate-nos</a>.</p>
                </div>
            </div>
        {% endif %}
    </section>
{% include 'footer.html' %}
