{% include 'header.html' %}
<body>
    {% include 'navbar.html' %}
    <section class="green lighten-5 lessions">
        <div class="container">
            <h4>Suas lições:</h4>
            <div class="row">
                <div class="card col s12 m5 cardCompleto">
                    <div class="card-content">
                        <span class="flow-text double">Lição 1</span>
                        <p class="flow-text">Projeção e Seleção</p>
                        <div class="card-action"><a href="lession.html">Refazer a Lição</a></div>
                    </div>
                </div>
                <div class="card col s12 m5 cardLicao">
                    <div class="card-content blue-text">
                        <span class="flow-text double">Lição 2</span>
                        <p class="flow-text">Joins</p>
                        <div class="card-action"><a href="lession.html">Ir para a Lição</a></div>
                    </div>
                </div>
                <div class="card col s12 m5 cardLicao">
                    <div class="card-content blue-text">
                        <span class="flow-text double">Lição 3</span>
                        <p class="flow-text">Muitas outras perguntas</p>
                        <div class="card-action"><a href="lession.html">Ir para a Lição</a></div>
                    </div>
                </div>
                <div class="card col s12 m5 cardLicao">
                    <div class="card-content blue-text">
                        <span class="flow-text double">Lição 4</span>
                        <p class="flow-text">Muitas outras perguntas</p>
                        <div class="card-action"><a href="lession.html">Ir para a Lição</a></div>
                    </div>
                </div>
            </div>
            <!--div class="center-align"><a href="lession.html" class="btn">Refazer Lições</a></div-->
        </div>
    </section>
{% include 'footer.html' %}