<!DOCTYPE html>
<html lang="pt-br">
<head>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="/css/theme.css">
  <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
  <link rel='shortcut icon' href='/images/logo.ico'>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ExpertsAR - Aprenda Álgebra Relacional aonde Estiver!</title>
  <meta name="description" content="Neste site você pode aprender Álgebra Relacional de uma forma online e grátis! Cadastre-se agora mesmo!" />
  <meta name="keywords" content="álgebra relacional, banco de dados, simulador, online, relational algebra, gratis" />
</head>

    <header class="light-blue darken-3">
        <h1>ExpertsAR</h1>
        <a class="btn waves-effect waves-light" href="login.php">Login</a>
    </header>

    <div class="container jumbotron white-text green lighten-2">
        <div class="col s12 center-align">
            <h2 class="center-align">Aprenda Álgebra Relacional na Internet</h2>
            <p class="double center-align">Experimente, é grátis</p>
            <a class="btn-large" href="createConta.php">Inscreva-se Grátis</a>
        </div>
    </div>

    <div class="container center-align">
        <h3>Veja por que usar o ExpertsAR</h3>
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">Aprenda aos poucos</div>
                <div class="collapsible-body">A cada lição, aprenda um pouco de Álgebra, no tempo que você tiver!</div>
            <li>
            <li>
                <div class="collapsible-header">Encare Desafios</div>
                <div class="collapsible-body">Responda questões em um banco de dados real</div>
            </li>
            <li>
                <div class="collapsible-header">Veja os resultados</div>
                <div class="collapsible-body">Veja os resultados das consultas na hora!</div>
            </li>
        </ul>
    </div>

    <section class="container jumbotron green lighten-5" id="contato">
        <div class="col s12 center-align">
            <h3>Fale Conosco</h3>
            
            {% include 'exibeInfo.html' %}
            
            <p>Será um prazer resolver a sua dúvida</p>
            <form action="enviaEmail.php" method="post">
                <div class="input-field">
                    <input class="validate" id="nome" name="nome" placeholder="Nome" required="" type="text">
                    <label for="nome">Nome</label>
                </div>
                <div class="input-field">
                    <input class="validate" id="email" name="email" placeholder="E-mail" required="" type="email">
                    <label for="email">E-mail</label>
                </div>
                <div class="input-field">
                    <textarea class="materialize-textarea validate" id="mensagem" name="mensagem" rows="7" placeholder="Mensagem" required=""></textarea>
                    <label for="mensagem">Mensagem</label>
                </div>
                <div class="buttons__right">
                    <button class="btn btn-lg block" type="submit">Enviar!</button>
                </div>
            </form>
        </div>
    </section>


   {% include 'footer.html' %}
