{% include 'header.html' %}
{% set isPergunta = TRUE %}
<body>
    <div class="navbar-fixed">
        <nav class="light-blue darken-3">
            <div class="nav-wrapper">
                <ul class="left">
                    <li><a class="btn" id="prev">Voltar</a></li>
                </ul>
                <ul class="right">
                    <li><a class="btn" id="next">Avançar</a></li>
                </ul>
            </div>
        </nav>
    </div>


    <div class="container">
        <!-- O texto da lição recebe a classe atual -->
        <div class="row s12 atual" data-isstart="yes">
            <div class="title center-align" id="title">
                <h3>{{licao.nome}}</h3>
            </div>
            {% autoescape false %}
                {{licao.textoLicao}}
            {% endautoescape %}
        </div>

        {% if perguntas != null %}
        {% set total = perguntas|length %}
        {% for pergunta in perguntas %}
        {% set porc = (loop.index / total) * 100 %}
        <div class="hide pergunta" id="pergunta{{loop.index}}">
            <h3>Exercício {{loop.index}} de {{total}}</h3>
            <div class="progress">
                <div class="determinate" style="width: {{porc}}%"></div>
            </div>
            <h5><b>{{pergunta.enunciado}}</b></h5>
            <p><b>Instruções:</b> Digite a sua query em Álgebra Relacional no campo abaixo. Se precisar de caracteres especiais, clique no botão desejado para inserir na posição do cursor. Para ver todas as tabelas, clique em "Tabelas do Banco de Dados Locadora". Ao final, clique em "Submeter Resposta", abaixo do campo de inserção.</p>
            <input type="hidden" id="resp{{loop.index}}" value="{{pergunta.resposta}}"/>
            {% include 'root/parser.html' %}
        </div>
        {% endfor %}
        {% endif %}

        <div class="hide success center-align jumbotron" data-isfinal="yes">
            <img src="images/ok.png" title="By SVG by Gregory Maxwell, simplified by Sarang (Own work) [Public domain], via Wikimedia Commons - https://commons.wikimedia.org/wiki/File%3AYes_check.svg"/>
            <h3 class="green-text">Perfeito!</h3>
            <p>Você concluiu a lição!</p>
            <!-- Aqui registra a lição que foi com êxito -->
            <a href="registerConcluido.php" class="btn green">Voltar para a Home</a>
        </div>
    </div>

    <footer class="page-footer light-blue darken-3">
        <div class="footer-copyright">
            <div class="container">
                &copy; 2017 - Luís Aurélio Casoni e Ademir Martinez Sanches
                <a href="https://github.com/luisaureliocasoni/expertsar" class="grey-text text-lighten-4 right">Fork no GitHub</a>
            </div>
        </div>
    </footer>

    <script src="js/jquery-3.2.0.min.js"></script>
    <script src="js/parser.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/lession.js"></script>
</body>
</html>
