{% include 'header.html' %}
<body>
  {% include 'navbar.html' %}

  <div class="content">
    <div class="row">
      {% include 'exibeInfo.html' %}
      <div class="col s12 m6 offset-m3 l4 offset-l4">
        <div class="card green lighten-5">
          <form action="login.php" method="post">
            <div class="card-content">
              <span class="card-title">Login</span>
              <div class="input-field">
                <input type="email" placeholder="E-mail" id="email" required="" name="email" class="validate">
                <label for="email">E-mail</label>
              </div>
              <div class="input-field">
                <input type="password" placeholder="Senha" id="senha" required="" name="senha" class="validate">
                <label for="senha">Senha</label>
              </div>
            </div>
            <div class="card-action center-align" class="transparent">
              <button class="btn" type="submit">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="center-align">
      <a href="#" class="btn-large" id="toggle">Ainda não tem uma conta?</a>
    </div>
  </div>

  <script src="js/jquery-3.2.0.min.js"></script>
  <script src="js/materialize.min.js"></script>
</body>
</html>
