{% if logado == true %}
<nav>
    <div class="nav-wrapper light-blue darken-3">
        <a href="index.php" class="brand-logo">ExpertsAR</a>
        <a href="#" data-activates="navbar" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="btn" id="btMenu">Olá {{primeiroNome}}</a></li>
        </ul>
        <ul id="navbar" class="side-nav">
            <li><div class="userView">
                <div class="background">
                    <img src="images/office.jpg">
                </div>
                <a href="#!name"><span class="white-text name">{{nome}}</span></a>
                <a href="#!email"><span class="white-text email">{{email}}</span></a>
            </div></li>
            <li><a class="waves-effect" href="index.php">Suas lições</a></li>
            <li><a class="waves-effect" href="profile.php">Seu perfil</a></li>
            <li><div class="divider"></div></li>
            <li><a class="waves-effect" href="sandbox.php">Sandbox - Pratique aqui! <span class="new badge"></span></a></li>
            <li><div class="divider"></div></li>
            <li><a class="waves-effect" href="help.php">Ajuda</a></li>
            <li><a class="waves-effect" href="contato.php">Contato</a></li>
            <li><a class="waves-effect" href="logout.php">Sair</a></li>
         </ul>
    </div>
</nav>
{% else %}
<header class="light-blue darken-3">
    <h1 class="brand-logo white-text"><a href="index.php" class="white-text">ExpertsAR</a></h1>
</header>
{% endif %}
