{% include 'header.html' %}
<body>
    {% include 'navbar.html' %}
    <div class="content">
        <div class="row card white black-text s12">
            <div class="card-content">
                <p>Atualizado no dia 12/05/2017</p>
                    <h2>Termos de Uso do site ExpertsAR</h2>
                    <p>O presente termo de uso vem reger o uso do site denominado ExpertsAR,
                        criado e mantido por Luís Aurélio Casoni e Ademir Martinez Sanches, denominados de mantenedores, 
                        e o usuário, que no momento que passa a usar o site, declara que leu e aceitou estes termos de uso.</p>
                    <p>O site dedica-se ao Ensino de Álgebra Relacional, de forma online e gratuita, mediante um cadastro 
                    composto de Nome, E-mail e Senha.</p>
                    <p>Fica expressamente proibido o uso do site para fins ilícitos, sob pena de impedimento de acesso ao site.</p>
                    <p>Fica eleito o foro da comarca de Dourados, para resolver outras questões não abordadas nesse termo.</p>

                    <h2>Política de privacidade para ExpertsAR</h2>
                    <p>Todas as suas informações pessoais recolhidas (apenas seu nome e o seu e-mail), serão usadas para o ajudar a tornar a sua visita no nosso site o mais produtiva e agradável possível.</p>
                    <p>A garantia da confidencialidade dos dados pessoais dos utilizadores do nosso site é importante para o ExpertsAR.</p>
                    <p>A informação pessoal recolhida pode incluir o seu nome e e-mail.</p><p>O uso do ExpertsAR pressupõe a aceitação deste Acordo de privacidade. A equipe do ExpertsAR reserva-se ao direito de alterar este acordo sem aviso prévio. Deste modo, recomendamos que consulte a nossa política de privacidade com regularidade de forma a estar sempre atualizado.</p>
                    <p>O e-mail fornecido para nós não será utilizado para fins de publicidade, apenas para envio de pesquisas de satisfação de nosso site. Essas pesquisas somente serão enviadas pelo e-mail expertsar@aureliocasoni.xyz.</p>

                    <h2>Os Cookies e Web Beacons</h2>
                    <p>Utilizamos cookies para armazenar informação, tais como as suas preferências pessoas quando visita o nosso website. Isto poderá incluir um simples popup, ou uma ligação em vários serviços que providenciamos, tais como fóruns.</p>
                    <p>Você detém o poder de desligar os seus cookies, nas opções do seu browser, ou efetuando alterações nas ferramentas de programas Anti-Virus, como o Norton Internet Security. No entanto, isso poderá alterar a forma como interage com o nosso website, ou outros websites.</p>

                    <h2>Links a Sites de terceiros</h2>
                    <p>O ExpertsAR pode conter links para outros sites, os quais, a nosso ver, podem conter informações / ferramentas úteis para os nossos visitantes. A nossa política de privacidade não é aplicada a sites de terceiros, pelo que, caso visite outro site a partir do nosso deverá ler a politica de privacidade do mesmo.</p>
                    <p>Não nos responsabilizamos pela política de privacidade ou conteúdo presente nesses mesmos sites.</p>
            </div>
        </div>
    </div>
{% include 'footer.html' %}